/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2014, 01:53:31 AM
    Author     : jjacobo
*/

.rowInactive {
    background: #F2DEDE !important;
}

.semaforoRojo {
    background: #D0525D !important;
}

.semaforoAmbar {
    background: #F6A770 !important;
}

.ui-datalist {
    border: none;
}

.ui-datalist .ui-datalist-content {
    border: none;
    margin: 0%;
}

.tooltip {
    font-size: 10px;
}

.pickListPanelColumns td{
    vertical-align: top;
}

.panelcolumns td {
    vertical-align: top;
}

.panelcolumns2 td {
    vertical-align: middle;
}

.hide-column-names table thead tr {
    display: none;
}

.headerStyle {
    font-size: 10px;
    background: #034DA2;
    box-shadow: 3px 3px 5px #888888;
}

.etiqueta {
    font-weight: bold;
    font-size: 12px;
}

.containerView {
    max-width: 1200px; 
    max-height: 900px; 
    overflow: auto;
}

.containerCompareHistory {
    max-width: 575px; 
    max-height: 600px; 
    overflow: auto;
}

.topbar-background {
    background-color: #2E78D2 !important;
    background: #2E78D2 url(../resources/images/banner.png) !important;
}
/*
.ui-commandlink{
    color: #3B3D3F !important;
    text-decoration: none;
    margin-right: 0px;
}

.ui-commandlink:hover{
    color: white !important;
}

.ui-link{
    color: #3B3D3F !important;
    text-decoration: none;
    margin-right: 0px;
}

.ui-link:hover{
    color: #034DA2 !important;
}
*/

a {
    color: #27AAE1 !important;
    text-decoration: underline !important;
}

.GesconLink{
    color: #3B3D3F !important;
    text-decoration: none !important;
    margin-right: 0px;
}

.GesconLink:hover{
    color: #034DA2 !important;
}

.TopbarLink{
    color: white !important;
    text-decoration: none !important;
    margin-right: 0px;
}

.TopbarLink:hover{
    color: #F6A770 !important;
}

.BoxbarLink{
    color: #3B3D3F !important;
    text-decoration: none !important;
    margin-right: 0px;
}

.BoxbarLink:hover{
    color: white !important;
}

.MenuLink a {
    color: white !important;
    text-decoration: none !important;
    margin-right: 0px;
}

.MenuLink a:hover{
    color: #F6A770 !important;
}

.MenuLink ul li a {
    color: #3B3D3F !important;
    text-decoration: none !important;
    margin-right: 0px;
}

.MenuLink ul li a:hover{
    color: white !important;
}

.ui-growl-item {width: 128px !important;}
.ui-growl-item-container {width: 169px !important;}

.wk-picklist-list div ul {
    font-size: 12px !important;
    width: 400px !important;
    //height: 300px !important;
}

.wk-picklist-list div ul li {
    font-size: 12px !important;
}

.bl-picklist-list div ui-picklist-filter-container {
    width: 150px !important;
}

.bl-picklist-list div ul {
    font-size: 12px !important;
    width: 300px !important;
}

.ui-outputlabel, table tbody tr td{color:#3B3D3F !important;}
.ui-chkbox .ui-chkbox-label{color: #3B3D3F !important;}
.ui-datatable table thead tr th{color:#3B3D3F !important;}
.ui-datatable table tbody tr td{color:#3B3D3F !important;}
.ui-fieldset-content{color:#3B3D3F !important;}

@-webkit-keyframes 'blink' {
    50% { background: #D0525D; }
}
.blink {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: linear;
}

