/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2014, 01:53:31 AM
    Author     : jjacobo
*/

.rowInactive {
    background: #F2DEDE !important;
}

.ui-datalist .ui-datalist-content {
    border: none;
    margin: 0%
}

.tooltip {
    font-size: 10px;
}

.pickListPanelColumns td{
    vertical-align: top;
}

.panelcolumns td {
    vertical-align: top;
}

.panelcolumns2 td {
    vertical-align: middle;
}

.hide-column-names table thead tr {
    display: none;
}

.headerStyle {
    font-size: 10px;
    background: #D0525D;
    box-shadow: 3px 3px 5px #888888;
}

.etiqueta {
    font-weight: bold;
    font-size: 12px;
}
.icon-add{background: url(../images/add.png) no-repeat !important;}

.ui-commandlink{
    color: #778D9B !important;
    text-decoration: none;
    margin-right: 0px;
}

.ui-commandlink:hover{
    color: white !important;
}

.ui-link{
    color: #778D9B !important;
    text-decoration: none;
    margin-right: 0px;
}

.ui-link:hover{
    color: #D0525D !important;
}

.ui-growl-item {width: 128px !important;}
.ui-growl-item-container {width: 169px !important;}

.wk-picklist-list div ul {
    font-size: 10px !important;
    width: 500px !important;
    height: 300px !important;
}

.wk-picklist-list div ul li {
    font-size: 12px !important;
}